<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary" id="menuDropDown" aria-expanded="false" aria-haspopup="true"
                ngbDropdownToggle>
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="menuDropDown">
                <a class="dropdown-item" routerLink="/">
                    <fa-icon [icon]="faHome"></fa-icon> Home
                </a>
                <a class="dropdown-item" routerLink="/create">
                    <fa-icon [icon]="faEdit"></fa-icon> Criar
                </a>
                <a class="dropdown-item" routerLink="/list">
                    <fa-icon [icon]="faClipboardList"></fa-icon> Listar
                </a>
            </div>
        </div>
    </div>
</nav>